<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel= "icon" href="/pictures/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>It uses data from mapbox.com and darksyk.net</p>
        <img class= "portrait" src="/pictures/robot.png">
    </div>
    
    {{!-- <p>{{name}}</p> --}}
    {{>footer}}
</body> 

</html>